body {
    margin:0;
    min-height: 100%;
    background: lightgray;
    position: relative;

}



html{
    height: 100%;
}


#update{
    color: white;
    font-size: 15px;
}


#particles-js{
    /*background: rgb(36,66,88);*/
    background-image: url("images/blur-business-chart-159888.jpg") ;
    background-size:cover;
    height:900px;

}

#homepage{
    position:absolute;
    left: 50%;
    margin-left: -220px;
    font-size: 1.2em;

}

#typed{
    color:white;
    font-size: 1.5em;
    margin-left:55px;

}

.typed-cursor{
    color:white;
    font-size: 1.5em;
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}




html *{
    font-family: 'Raleway', sans-serif;

}

.navbar{
    font-size: 1.5em;
}

#test{
    display:block;
    margin: auto;
}

#profile-pic{
    border-radius:50%;
    padding: 40px;
    /*margin:auto;*/
    margin-top: 75px;
}


h1{
    text-align: center;
    color: #CFB1B7;
    font-weight: bold;
    display: block;
    padding:10px;
}


.container-fluid{
    background: rgb(52,58,64);
}

.footer-page{
    text-align: center;
    color: white;
}


.fab,.fas{
    padding: 3px;

}

.fa-github{
   font-size:  3em;
    color: #CFB1B7;
}

.fa-facebook{
    font-size: 3em;
    color: #CFB1B7;
}

.fa-envelope{
    font-size:3em;
    color:#CFB1B7;
}

.fa-linkedin{
    font-size: 3em;
    color:#CFB1B7;
}


hr{
    border: 1px solid #000000;

}

.btn-outline-danger {
    color: #fff;
    margin-left: 120px;
    margin-top: 20px;
}

/*  Start of Projects section */


/*.card-img-top{*/
    /*height: 20rem;*/
/*}*/

/**{ border: 0.1px solid red; }*/

.testRow{
    display: flex;
    flex-wrap:wrap ;
    justify-content: space-evenly;

}


.categories{
    display: flex;
    justify-content: space-evenly;
}

.card1{
    min-height: 600px;
}

.gif{
    height: 310px;
    width: 225px;
    margin: 15px auto ;
}

.pcontainer{
    /*margin: 4px;*/
    /*margin: auto;*/
    background-image: url("images/keybaordBackground.jpg") ;
    background-attachment: fixed;


}


.col{
    margin: 25px;
}

.row{
    margin-top: 15px;
    margin-bottom: 15px;
}

.section-header{
    color: black;
    margin: 10px;

}

.card1{

    margin: 15px auto;
    box-shadow: 10px 10px 5px grey;



}

.card-title{
    margin-top: 25px;
}

.card-text{
    margin-top: 25px;
}


/*  End of Projects section */


/* Start of skills section */
.progress{
    margin: 60px;
}

.skills{
    padding: 75px;
    background: #2E282A;

}

h2{
    text-align: center;
    color:#CFB1B7;
}
h4{
    text-align: center;
}

.tf{
    background-color: white;
    padding: 5px;
    margin-bottom: 25px;

}

.progress-bar{
    font-size: 1.6em;
}
/* End of skills section */


/**{ border: 0.1px solid red; }*/


/* Start of Experience section */
.experience{
    background: lightgray;
    padding: 5px;

}

.b-header{
    color: black;
    margin: 10px;
}

.btn-link{
    color:gray;
    font-size: 1.5em;
    font-weight:bold;
}

.contactB{
    margin-top: 5px;
}

/* End of Experience section */


/**{ border: 0.1px solid red; }*/
